<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="card" class="card">
  <div class="card__side card__side--back">
    <div class="card__cover">
      <h4 class="card__heading">
        <span class="card__heading-span" style="color: #F9B872;">The Joke</span>
      </h4>
    </div>
    <!--                <div class="card__details">-->
    <!--                    <ul>-->
    <!--                        <li>Its a funny one</li>-->
    <!--                    </ul>-->
    <!--                </div>-->
  </div>

  <div class="card__side card__side--front">
    <div class="card__theme">
      <div class="card__theme-box">
        <p class="card__subject">Look at this joke</p>
        <p class="card__title">It's a Joke!</p>
      </div>
    </div>
  </div>

</div>
</body>
</html>