<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div  th:fragment="card2" class="card-container">  <!--container-->
    <div th:object="${jokeObj}" id="clickable" th:class="*{type}=='twopart' ? 'flip-btn joke-card' : 'not-flip joke-card' ">
      <div id="back" class="cardBack">
        <h3 id="backCardContent" th:text="*{delivery}"></h3>
      </div>

      <div id="front" class="cardFront">
        <h3 id="frontCardContent" th:text="*{type} == 'twopart' ? *{setup} : *{joke}"></h3>
        <p class="flip-msg">Click to flip</p>
        <!--        <strong>&#x21bb;</strong>-->
      </div>
    </div>
  </div>
</body>
</html>
