<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <script src="https://kit.fontawesome.com/4e3daad3f4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div th:fragment="header" class="d-flex py-2 px-4 shadow mb-3 bg-body ">
        <button class="btn me-auto p-2 px-3 " type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            &#9776;
        </button>
        <a class="btn p-2 me-3" th:href="@{/}">
            <i class="fa-solid fa-house"></i>
        </a>
        <a class="btn p-2 me-3" th:href="@{/pages/userprofile}">
            <i class="fa-solid fa-user"></i>
        </a>
        <a class="btn p-2" th:href="@{/pages/favourite}">
            <i class="fa-solid fa-heart"></i>
        </a>

    </div>
</body>

</html>