<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <div th:fragment="toast" class="toast-container position-fixed bottom-0 end-0 p-3">
    <div th:id="${id}" class="toast fade align-items-center text-bg-warning border-0" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" th:text="${msg}"></div>
        <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="utils"
          aria-label="Close"></button>
      </div>
    </div>
  </div>
</body>

</html>