<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<head>
    <title>Jokes</title>
    <!-- Include Bootstrap CSS -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("generate").addEventListener("click", () => {
            fetch('/getJokes')
                .then(response => response.json())
                .then(jsonData => {
                    console.log(jsonData);
                    // Process the JSON data as needed

                    // Example: Display the joke type and content in the browser
                    // const jokeType = jsonData.type;
                    // const jokeContent = jsonData.joke || `${jsonData.setup}\n${jsonData.delivery}`;
                    //
                    // const jokeTypeElement = document.getElementById("jokeType");
                    // const jokeContentElement = document.getElementById("jokeContent");
                    //
                    // jokeTypeElement.textContent = `Type: ${jokeType}`;
                    // jokeContentElement.textContent = jokeContent;
                })
                .catch(error => {
                    console.log(error);
                });
        });
    });
</script>
<body>
    <div class="container">
        <header th:insert="fragments/header.html :: header"> </header>

        <!--    OPTION 1-->
        <!--    <div class="d-flex flex-column align-items-center justify-content-center align-self-center">-->
        <!--    <div class="flip-card">-->
        <!--        <div class="flip-card-inner">-->
        <!--            <div class="flip-card-front">-->
        <!--                <h1>A Joke</h1>-->
        <!--            </div>-->
        <!--            <div class="flip-card-back">-->
        <!--                <h1>Laugh</h1>-->
        <!--                <p>It's funny</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--        <button class="btn btn-primary mt-3">Generate New</button>-->
        <!--    </div>-->

        <!--    OPTION 2-->

        <div class="artboard">
            <div class="d-flex flex-column align-items-center justify-content-center align-self-center">
                <div th:insert="fragments/card.html :: card"></div>
<!--                <a href="/getJokes" id="generate" class="btn mt-3" style="background-color: #575761; color: white;">Generate New</a>-->
                <button id="generate" class="btn mt-3" style="background-color: #575761; color: white;">Generate New</button>
            </div>
        </div>

    </div>
    <div th:insert="fragments/menu.html :: menu"> </div>
</body>
</html>