<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Jokes</title>
    <!-- Include Bootstrap CSS -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const card = document.getElementById('clickable');
        let cardbox = document.getElementById("cardBox");
        card.addEventListener('click', handleFlip)

        function handleFlip() {
            if(!card.classList.contains('flip-btn')) return;
            const f = document.getElementById('front')
            const b = document.getElementById('back')
            f.classList.toggle('flipped')
            b.classList.toggle('flipped')
        }

        // -----------------------------------
        let front = document.getElementById('frontCardContent'); //NOGA
        let back = document.getElementById('backCardContent'); //NOGA

        document.getElementById("generate").addEventListener("click", () => {
            fetch('/pages/getJokes')
                .then(response =>
                    response.json()
                )
                .then(jsonData => {
                    const f = document.getElementById('front')
                    const b = document.getElementById('back')
                    cardbox.setAttribute("name", jsonData.id);
                    if(f.classList.contains('flipped')){
                        f.classList.toggle('flipped')
                        b.classList.toggle('flipped')
                    }
                    //TODO: add to constantnsnsts!
                    if (jsonData.type === "twopart") {
                        front.innerHTML = jsonData.setup;
                        back.innerHTML = jsonData.delivery;
                        card.classList.add('flip-btn');
                    }
                    else {
                        front.innerHTML = jsonData.joke;
                        back.innerHTML = "";
                        card.classList.remove('flip-btn')
                        card.classList.add('not-flip')
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        });

        document.getElementById("addFavourite").addEventListener("click", () => {
            let jokeId = cardbox.getAttribute("name");
            fetch('/favourites/add', {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: jokeId
                }
            )
            .then(response =>
                console.log(response)
            )
            .catch(error => {
                console.log(error);
            });
        });
    });
</script>

<body>
    <div class="container-fluid">
        <header th:insert="fragments/header.html :: header"> </header>

        <!--    OPTION 1-->
        <!--    <div class="d-flex flex-column align-items-center justify-content-center align-self-center">-->
        <!--    <div class="flip-card">-->
        <!--        <div class="flip-card-inner">-->
        <!--            <div class="flip-card-front">-->
        <!--                <h1>A Joke</h1>-->
        <!--            </div>-->
        <!--            <div class="flip-card-back">-->
        <!--                <h1>Laugh</h1>-->
        <!--                <p>It's funny</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--        <button class="btn btn-primary mt-3">Generate New</button>-->
        <!--    </div>-->

        <!--    OPTION 2-->

        <!--        <div class="artboard">-->
        <!--            <div class="d-flex flex-column align-items-center justify-content-center align-self-center">-->
        <div class="d-flex flex-column align-items-center row">

            <div id="cardBox" th:name="${jokeObj.id}" th:insert="fragments/card2.html :: card2" class="col-md-6"></div>
            <div class="d-flex justify-content-evenly">
                <button id="generate" class="btn mx-2 mt-3" style="background-color: #575761; color: white;">Generate New</button>
                <button id="addFavourite" class="btn mx-2 mt-3" style="background-color: #575761; color: white;">Add</button>
            </div>
        </div>
        <!--            </div>-->
        <!--        </div>-->

    </div>
    <div th:insert="fragments/menu.html :: menu"> </div>
</body>

</html>